
layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="fs" {
        pane command="yazi"
    }
    
    tab name="git" focus=true {
        pane command="lazygit"
    }

    tab name="edit" {
        pane command="hx" {
            args "./"
        }
    }

    tab name="term" split_direction="vertical"  {
        pane
        pane
    }
}
